@model List<GuzelSoz>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Güzel Sözler</h1>
    <label>
        Sadece beğendiklerimi Göster
        <input type="checkbox" value="" />
    </label>
    <ul>
        @foreach (var item in Model)
        {
        <li>@item.Soz (Toplam Beğeni Sayısı: xxx) ❤</li>
        }
    </ul>
</div>
